<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{title}}</title>
    <script src='static/js/main.js'></script>
    <script src='static/js/keymaster.js'></script>
    <link rel='stylesheet' type='text/css' href='static/css/main.css'/>
    <link rel='stylesheet' type='text/css' href='static/css/job.css'/>
    <link rel='stylesheet' type='text/css' href='static/css/{{_FILENAME_}}.css'/>
    <script>
      key('alt+shift+e', function () {
        window.location.href = '/admin/edit?file={{_FILENAME_}}'
      })
    </script>
    <style>
      body {
        background-color: #{{color-body}};
      }
      
      #header {
        background-color: #{{color-header}};
      }

      #job-content ul li::before {
        background-color: #{{color-accent}};
      }

      #job-content h1, #job-content h2, #job-content h3, #job-content h4 {
        color: #{{color-accent}};
      }
    </style>
  </head>
  <body>
    <div id='header'>
      <img src='static/img/{{header-image}}' />
    </div>
    <div id='job-content'>
      {{{ _HTML_ }}}
    </div>
  </body>
</html>